
@font-face {
      font-family: 'caviar_dreamsregular';
      src: url(../fonts/CaviarDreams-webfont.ttf) format('truetype');
	
}

nav li a:hover,nav li.active a{
	color:#FFF;
	text-shadow:4 1px 0 #222;
	 background:url(../images/menu-hover.png) center ;
}

.navbar{
	background-color: #8a8a5c; 
	background:url(../images/bg.png);

}

nav a {
	 font-family: 'caviar_dreamsregular',bold;
	 font-size:1.3em;
	color:#A3793D;
	 display: block;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;  /*Sets the text hover color on navbar*/
}

#divRight{
	border:12px  black;
	border-color : #1f1300;
	border-style: groove ridge;

}
.divborder{
border:1px  black;
	border-color : #1f1300;
	border-style: groove ridge; 
}

body {
	background: url(../images/bg.jpg);
	font-family:Arial, Helvetica, sans-serif;
}

h2,h1,h3,h4{
	color:#82592D;
	margin:5px 0 15px 0;
	font-size:1.5em;
	text-transform:uppercase;
        font-family: 'caviar_dreamsregular';
}

textarea{
	
	height:172px;
        padding:10px;
	display:block;
	width:95%;
	background:#fcfcfc;
	border:3px solid #F5E7D9;
	outline:none;
	color:#693700;
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;			
	-webkit-appearance:none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
textarea:focus{
	border:4px solid #E4CFBA;
}


.myButton{
    background:#82592D;
	color:#DBB25F;
	font-size:1em;
	padding:10px 20px;
	border:none;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    cursor:pointer;
    text-transform:uppercase;
    -webkit-appearance:none;
   /* float:right;*/
}
.myButton:hover{
		background:#DBB25F;
		color:#FFF;
}
table {
    border-collapse: collapse;
    border: 0px solid black;
}
.price{
	font-family: 'Open Sans', sans-serif;
	color:#DBB15F;
	font-size: 0.99em;
	text-transform: uppercase;
	padding:10px 25px;
	border:none;
	display: inline-block;
	background:#82592D;

}
.price:hover{
		background:#DBB25F;
		color:#FF0000;
}
.ch{
	font-size: 4em; 
	font-family: 'Open Sans', sans-serif ,bold;
	color:#82592D;
	width: 75%;
	margin: 0 auto;
	line-height: 1.8em;
	margin-bottom: 1em;
}

p{
	font-size: 4em; 
	font-family: 'Open Sans', sans-serif ,bold;
	color:#82592D;
	width: 75%;
	margin: 0 auto;
	line-height: 1.8em;
	margin-bottom: 1em;
}
tr th {
	font-size: 1.5em; 
	font-family: 'Open Sans', sans-serif;
	color:#82592D;
	
}
.table-hover tr td {
	font-size: 1.2em; 
	font-family: 'Open Sans', sans-serif;
	color:#00d0eD;
	margin: 2 auto;
	
}
td a img:hover{
background:#DBeffe;
}
.total {
        border:3px  black;
	border-color : #1f1300;
	border-style: groove ridge; 

}
.detail p {
	font-size: 2em; 
	font-family: 'Open Sans';
	color:#82592D;

}
